BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: 'false'
BinPackParameters: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IndentCaseLabels: 'false'
IndentWidth: 2
MaxEmptyLinesToKeep: 2
PenaltyIndentedWhitespace: 1