# teams:
team-a=./teams/gen4/hexTeamD.txt
team-b=./teams/gen4/hexTeamA.txt

# planners:
planner-a=minimax
a-max-search-depth=2
a-planner-verbosity=2

planner-b=minimax
b-max-search-depth=2
b-planner-verbosity=2

# evaluators
evaluator-a=simple
evaluator-b=simple

# engine
game-verbosity=3
num-active-pokemon=2
verbosity=2
