# teams:
team-a=./teams/gen4/hexTeamD.txt
team-b=./teams/gen4/hexTeamA.txt

# planners:
planner-a=negamax
a-max-search-depth=5
a-planner-verbosity=2

planner-b=negamax
b-max-search-depth=5
b-planner-verbosity=2

# evaluators
evaluator-a=simple
evaluator-b=simple

# engine
game-verbosity=3
verbosity=2

max-matches=1
