# baseline evaluators:
evaluators=simple         # e1
evaluators=random         # e2

# planners:
planners=softmax
p1-max-search-depth=1

# neural network evaluators:
evaluators=tnetworkLarge  #  e3
e3-net-architecture=512
e3-net-architecture=128
e3-net-learning-rate=5e-4
e3-net-model-path=networks/netLrg-512-128-mc.model 
e3-net-random-weights=true

# Training configuration
state-evaluator=montecarlo
se-max-rollouts=100
se-max-plies=15
training-discount-factor=0.0

# leagues of size 1-6:
team-populations=120
team-populations=90
team-populations=60
team-populations=30
team-populations=20
team-populations=10

ranker-verbosity=2
verbosity=2
num-threads=32
training-epochs=30
max-generations=5
save-on-completion=1
