# planners:
planners=softmax  # p1
p1-max-search-depth=1
planners=softmax  # p2
p2-max-search-depth=1
p2-temperature=0.25
# neural network evaluators:
evaluators=tnetworkLarge  #  e1
e1-net-architecture=512
e1-net-architecture=128
e1-net-learning-rate=5e-4
e1-net-model-path=networks/netLrg-512-128.model 
e1-net-random-weights=true
evaluators=tnetwork16     #  e2
e2-net-model-path=networks/net16-32.model 
e2-net-architecture=32
e2-net-random-weights=true
evaluators=tnetwork128    #  e3
e3-net-model-path=networks/net128-256-64.model 
e3-net-architecture=256
e3-net-architecture=64
e3-net-random-weights=true
# baseline evaluators:
evaluators=simple         #  e4
evaluators=random         #  e5

ranker-verbosity=2
verbosity=2
num-threads=32
training-epochs=30
max-generations=30
# leagues of size 1-6:
team-populations=240
team-populations=180
team-populations=120
team-populations=90
team-populations=60
team-populations=30
datasheets-path=./league_stats.txt
save-on-completion=1